@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #1e1e1e;
  --color-surface: #f9f9f9;
  --color-surface-container: #eeeeee;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface-variant: #444748;
  --color-tertiary-fixed: #94f990;
  --color-on-tertiary-fixed: #002204;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Отступ для всех якорных ссылок, чтобы фиксированная шапка не перекрывала контент */
[id] {
  scroll-margin-top: 100px; /* Примерная высота вашей шапки */
}

@layer base {
  body {
    @apply font-sans bg-surface text-primary antialiased;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md;
}

.architectural-input {
  @apply w-full bg-surface-container-low border-none rounded-lg focus:ring-0 focus:border-b-2 focus:border-primary h-12 px-4 transition-all;
}
